<div class="container">
    <div class="header">
        <h1>Just Code</h1>
        <div class="controls">
            <select class="language-select" id="language" [(ngModel)]="selectedLanguage" (change)="onLanguageChange($event)">
                @for(language of languages; track languages.indexOf(language)){
                    <option [value]="language">{{ language }}</option>
                }
            </select>
            <button [disabled]="isCodeExecuting" (click)="runCode()" class="run-button">{{ isCodeExecuting ? 'Running...': 'Run Code'}}</button>
        </div>
    </div>
    <div class="main">
        <div id="editorContainer"></div>
        <div class="output-section">
            <label for="output">Output</label>
            <textarea id="output" [value]="codeResults" readonly placeholder="Output will appear here..."></textarea>
        </div>
    </div>
</div>